/* variables */

:root {
    /* Color of the logo!!! important to not change 50,50,50 */
    --color-dark: rgb(50, 50, 50);
    --color-light: rgb(210, 210, 210);
}


/* html elements */

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-dark);
}

a {
    text-decoration: none;
}


/* BEM classes */

.body {
    background-color: var(--color-light);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* top-right-bottom-left */
    border-width: 0px 0px 5px 0px;
    border-style: solid;
    border-color: var(--color-dark);
    padding-bottom: 7px;
}

.logo__img {
    background-color: var(--color-light);
    mix-blend-mode: multiply;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav__item {
    margin: 2px 5px 2px 5px;
    padding: 0 1rem 0 1rem;
    background-color: var(--color-dark);
    color: var(--color-light);
    border: solid var(--color-dark);
    border-radius: 5px;
}

.nav__item:hover {
    background-color: var(--color-light);
    color: var(--color-dark);
}

.main {
    text-align: center;
}