.grid-site-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  gap: 1rem;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

.grid-site-layout header {
  grid-area: header;
}

.grid-site-layout .main {
  grid-area: main;
}

.grid-site-layout footer {
  grid-area: footer;
}
