/* @import url("./../variables.css"); */

.selfieContainer {
    background-color: var(--color-dark);
    mix-blend-mode: lighten;
    border-radius: 50px;
    width: 150px;
    overflow: hidden;
}

.selfieImage {
    max-width: fit-content;
}