/* defines css variables for use in other stylesheets */
html {
  /* grayscale */
  --color-darkest: rgb(25, 25, 25);
  --color-dark: rgb(50, 50, 50);
  --color-gray: rgb(128, 128, 128);
  --color-light: rgb(200, 200, 200);
  --color-lightest: rgb(240, 240, 240);
  /* colors */
  --color-fun: #5ca9a9;

  --color-back: var(--color-dark);
  --color-middle: rgb(124, 123, 123);
  --color-front: rgb(240, 240, 240);
  
}

:root[data-theme='light'] {
  --color-back: var(--color-lightest);
  --color-front: var(--color-darkest);
}

/* html elements */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-front);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-back);
  padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

blockquote {
  background-color: var(--color-middle);
  color: var(--color-back);
}

button {
  background-color: var(--color-middle);
  border-color: var(--color-fun);
  border-radius: 15px;
  color: var(--color-back);
  margin: 7px;
}

button:hover {
  background-color: var(--color-front);
}

p {
  padding-bottom: 5px;
}

a {
  text-decoration: none;
  color: var(--color-fun);
}

a:hover {
  text-decoration: underline;
}

/* ids */

#content {
  padding: 15px;
}

/* classes */

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}